<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpfsoftwares.rollapass">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rpfsoftwares.rollapass.MainActivity" />
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasterPasswordActivity"
            android:label="@string/title_activity_master_password" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".ValidatePasswordActivity"
            android:label="@string/title_activity_validate_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LegalNoticesActivity"
            android:label="@string/title_activity_legal_notices"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rpfsoftwares.rollapass.AboutActivity" />
        </activity>
    </application>

</manifest>