<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpfsoftwares.rollapass">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/roll_pass_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rpfsoftwares.rollapass.MainActivity" />

        </activity>

        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MasterPasswordActivity"
            android:label="@string/title_activity_master_password"/>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"/>

    </application>

</manifest>